<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 20px auto; padding: 20px; background-color: #f4f4f4; border-radius: 10px;">
    <p style="color: #1e2836;">Hola <strong>{{first_name}} {{last_name}}</strong>,</p>
    <p style="color: #1e2836;">{{message}}</p>
    <p style="color: #1e2836;">Detalles de la sesión:</p>
    <ul style="color: #1e2836;">
        <li><strong>Fecha y Hora:</strong> {{date}}</li>
        {{!-- <li><strong>Dirección de máquina:</strong> {{clientIp}}</li> --}}
        {{!-- <li><strong>Dispositivo:</strong> {{device_type}}</li> --}}
    </ul>
    <p style="color: #1e2836;">Si no reconoces esta actividad, por favor, ponte en contacto con nuestro equipo de soporte.</p>
    <p style="color: #1e2836;">Gracias por utilizar nuestros servicios,</p>
    <p style="color: #1e2836;">Tu equipo de soporte</p>
</div>
