<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 20px auto; padding: 20px; background-color: #f4f4f4; border-radius: 10px;">
    <p style="color: #1e2836;">Hola, <strong>{{full_name}}</strong></p>
    <p style="color: #1e2836;">Te notificamos que tu solicitud ha cambiado de estado:</p>
    <p style="color: #1e2836;">Detalles de la solicitud:</p>
    <ul style="color: #1e2836;">
		<li><strong>Estado:</strong> {{name_status}}</li>
        <li><strong>C칩digo:</strong> {{code}}</li>
         {{#if description}}
            <li><strong>Motivo:</strong> {{description}}</li>
         {{/if}}
        {{!-- <li><strong>Motivo:</strong> {{description}}</li> --}}
    </ul>
    <p style="color: #1e2836;">Si necesitas m치s informaci칩n o acci칩n, por favor, revisa los detalles desde el aplicativo.</p>
    <p style="color: #1e2836;">Gracias por utilizar nuestros servicios,</p>
    <p style="color: #1e2836;">Tu equipo de soporte</p>
</div>
