<div
	style="font-family: Arial, sans-serif; max-width: 600px; margin: 20px auto; padding: 20px; background-color: #f4f4f4; border-radius: 10px;">
	{{!-- <h2 style="color: #007bff;">Recuperación de Contraseña</h2> --}}
	<p style="color: #1e2836;">Hola <strong>{{first_name}} {{last_name}}</strong>,</p>
	<p style="color: #1e2836;">
		Hemos recibido una solicitud para restablecer tu contraseña. Si no has solicitado este cambio, puedes ignorar
		este correo electrónico.
	</p>
	<p style="color: #1e2836;">Tu código de recuperación es: <strong>{{code}}</strong></p>
	<p style="color: #1e2836;"><strong>Este código expira en 5 minutos.</strong></p>
	<p style="color: #1e2836;">Gracias,</p>
	<p style="color: #1e2836;">Tu equipo de soporte</p>
</div>

{{!-- <tr>
	<td style="padding: 20px 30px" colspan="5">
		<span style="font-size: 16px; color: #03619f;">
			<strong>Hola {{first_name}} {{last_name}}.</strong>
			<br><br>
		</span>
		<span style="font-size: 14px; color: #1e2836;">
			Generación de código para la recuperación de contraseña.
			<br>
			<br>
			<strong>Tu código de acceso es:</strong>
			<br>
			<br>
		</span>
		<span style=" color: #03619f;">
			<strong>Código:</strong>
		</span> {{code}}
		<br>
		<br>

		<span style="font-size: 14px; color: #1e2836;">
			Si tienes algún problema o duda, nuestro equipo de soporte podrá ayudarte.
		</span>
		<span style="font-size: 14px; color: #1e2836; font-weight: bold;"><br><br>
			Saludos,
		</span>
	</td>
</tr> --}}