<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 20px auto; padding: 20px; background-color: #f4f4f4; border-radius: 10px;">
    <p style="color: #1e2836;">Hola, <strong>{{first_name}} {{last_name}}</strong></p>
    <p style="color: #1e2836;">Tu {{typeRequest}} se ha generado con éxito y está pendiente de atención.</p>
    {{!-- <p style="color: #1e2836;">Detalles de la solicitud:</p>
    <ul style="color: #1e2836;">
		<li><strong>Apellidos y Nombres:</strong> {{last_name}} {{first_name}}</li>
		<li><strong>Correo electrónico:</strong> {{correo_electronico}}</li>
		<li><strong>Cédula:</strong> {{identification}}</li>
        <li><strong>Fecha:</strong> {{date_creation}}</li>
		<li><strong>Tipo de solicitud:</strong> {{typeRequest}}</li>
		<li><strong>código:</strong> {{code}}</li>
    </ul> --}}
    <p style="color: #1e2836;">Si necesitas más información o acción, por favor, revisa los detalles desde el aplicativo.</p>
    <p style="color: #1e2836;">Gracias por utilizar nuestros servicios,</p>
    <p style="color: #1e2836;">Tu equipo de soporte</p>
</div>
